[API]
API_key=zFsFljxcCuJMkdytsgtV9NSuQlg5ZVEp
API_endpoint=https://api.us.safenetid.com/api/v1/tenants/OFG56DOGVZ/users

[TargetGroups]
#Groups=Dummy Group 1
#, Dummy Group 2, Dummy Group 3, Dummy Group 4, Dummy Group 5

[Database]
LocalCacheFile=C:\Users\admin\Documents\GitHub\rest-sync-agent\cache.json